.DS_Store
.idea
gensrc
classes
platformhome.properties
extensioninfo.xsd
build.xml
**/beans.xsd
**/items.xsd
concerttours-testclasses.xml
/data
/idea-module-files
/log
/temp
/bin/*
!/bin/custom
/roles
